.source{
    width: 90%;
}
.swal2-modal .swal2-cancel, .swal2-modal .swal2-confirm{
    margin: 5px !important;
}
.card h5{
    margin-bottom: 0;
}
.examples .btn{
    margin-top: 10px;
}
@media (min-width:1270px){
    .wrapper{
        background-color: #e9e9e9 !important;
    }
}