<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>页脚</title>
</head>
<div data-th-fragment="footer" style="margin: 0 auto">



    <!-- global scripts-->
    <script type="text/javascript" th:src="@{/js/components.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/Buttons/js/buttons.js}"></script>
    <script type="text/javascript" th:src="@{/js/pluginjs/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pluginjs/vue-resource.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pluginjs/modals.js}"></script>

    <!--<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/clipboard.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/page.js}"></script>

    <script type="text/javascript" th:src="@{/plugins/select2/js/select2.js}"></script>
    <script type="text/javascript" th:src="@{/js/message.min.js}"></script>

    <script type="text/javascript" th:src="@{/plugins/markdown/editormd.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/naranja.js}"></script>

    <script type="text/javascript" th:src="@{/plugins/sweetalert/js/sweetalert2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pages/sweet_alerts.js}"></script>
    <!--时间选择器-->
    <!--end of global scripts-->

    <script type="text/javascript">



    </script>


</div>
</html>