<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="left" class="fixed"  data-th-fragment="left">
    <div class="menu_scroll" style="height: 4500px !important">
        <div class="left_media">
            <div class="media user-media">
                <div class="user-media-toggleHover">
                    <span class="fa fa-user"></span>
                </div>
                <div class="user-wrapper">
                    <a class="user-link" href="#">
                        <img class="media-object img-thumbnail user-img rounded-circle admin_img3" alt="User Picture" th:src="${#authentication.principal.avatar} == null ? '/img/default_avatar.jpg' :
                                 ${#authentication.principal.avatar}"/>
                        <p class="user-info menu_hide">
                            <span>Welcome：[[${#authentication.principal.name}]]</span>
                        </p>

                    </a>
                </div>
            </div>
            <hr>
        </div>

        <ul id="menu">


            <li  th:classappend="${active1}? 'active':''">
                <a th:href="@{/backend/}"  data-toggle="tooltip" data-placement="right"  title="首页">
                    <i class="fa fa-home "></i>
                    <span class="link-title menu_hide">&nbsp;首页管理</span>
                </a>
            </li>

            <li class="dropdown_menu active">
                <a href="javascript:void(0);">
                    <i class="fa fa-user"></i>
                    <span class="link-title menu_hide">&nbsp;系统管理</span>
                    <span class="fa arrow menu_hide"></span>
                </a>
                <ul class="collapse " aria-expanded="false" style="">
                    <li class="active">
                        <a th:href="@{/backend/user/userListPage}">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;用户管理
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/backend/user/roleListPage}">
                            <i class="fa fa-angle-right"></i>
                            <span class="link-title">&nbsp;角色管理</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="dropdown_menu ">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span class="link-title menu_hide">&nbsp;题库管理</span>
                    <span class="fa arrow menu_hide"></span>
                </a>
                <ul class="collapse " aria-expanded="false" style="">
                    <li>
                        <a href="general_components.html">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;查看题目
                        </a>
                    </li>
                    <li>
                        <a href="cards.html">
                            <i class="fa fa-angle-right"></i>
                            <span class="link-title">&nbsp;测试用例</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li th:classappend="${active3} ? 'active':''">
                <a th:href="@{/competition/competitionListPage}" data-toggle="tooltip" data-placement="right"  title="比赛">
                    <i class="fa fa-trophy"></i>
                    <span class="link-title menu_hide"> &nbsp;比赛管理</span>
                </a>
            </li>

            <li th:classappend="${active6} ? 'active':''">
                <a th:href="@{/blog/blogListPage}" data-toggle="tooltip" data-placement="right"  title="讨论区">
                    <i class="fa fa-comments"></i>
                    <span class="link-title menu_hide">&nbsp;讨论管理</span>
                </a>
            </li>

        </ul>
        <!-- /#menu -->
    </div>
</div>
<!-- /#left -->

</html>