<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>题库</title>
    <div th:replace="~{fragments/head-base}"></div>
    <!--Page level styles-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/pages/general_components.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/vendors/modal/css/component.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/pages/problem_detail.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/pages/new_dashboard.css}"/>
</head>

<body class="body sidebar-left-hidden fixedNav_position fixedMenu_left" >
<div class="preloader" style=" position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: hidden;
  background: #ffffff;">
    <div class="preloader_img" style="width: 200px;
  height: 200px;
  position: absolute;
  left: 48%;
  top: 48%;
  background-position: center;
z-index: 999999">
        <img src="img/loader.gif" style=" width: 50px;" alt="loading...">
    </div>
</div>
<div id="wrap" >
    <div th:replace="~{fragments/top :: top}"></div>
    <!-- /#top -->
    <div class="wrapper fixedNav_top">
        <div th:replace="~{fragments/left :: left}"></div>
        <!-- /#left -->
        <div id="content" class="bg-container">
            <header class="head">
                <div class="main-bar">
                    <div class="row no-gutters">
                        <div class="col-6 ">
                            <h4 class="nav_top_align">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                NO.[[${problem.id}]] [[${problem.name}]]
                            </h4>
                        </div>
                        <div class="col-6 ">
                            <ol class="breadcrumb float-right nav_breadcrumb_top_align">
                                <li class="breadcrumb-item">
                                    <a th:href="@{/}">
                                        <i class="fa fa-home" aria-hidden="true"></i> 首页
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a th:href="@{/problem/problemList}">题库</a>
                                </li>
                                <li class="breadcrumb-item active">NO.[[${problem.id}]]</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </header>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="row">
                        <div class="col-8">
                            <div class="card card-block">
                                <div class="text-center mt-2 mb-3">
                                    <span class=" btn-success loading btn-sm ">
                                        时间限制:[[${problem.time}]]ms
                                    </span>
                                    <span class=" loading btn-warning btn-sm ml-1">
                                        内存限制:[[${problem.memory}]]kb
                                    </span>
                                    <span class=" btn-danger loading btn-sm ml-1">
                                        难度:[[${problem.level}]]
                                    </span>
                                    <div class="mt-1">
                                        <a href="#">
                                            <span class=" btn-primary loading btn-sm ">
                                                测评情况
                                            </span>
                                        </a>
                                        <a href="#">
                                        <span class=" btn-info loading btn-sm ml-1">
                                        讨论区
                                        </span>
                                        </a>
                                    </div>
                                </div>
                                <h3 class=" card-title m-t-20"><strong>描述</strong></h3>
                                <p class="card-text" style="white-space:pre-line">
                                    [[${problem.content}]]
                                </p>
                                <h3 class=" card-title m-t-20"><strong>输入规范</strong></h3>
                                <p class="card-text  " style="white-space:pre-line">
                                    [[${problem.inputDesc}]]
                                </p>
                                <h3 class="card-title m-t-20" ><strong>输出规范</strong>

                                </h3>
                                <p class="card-text  " style="white-space:pre-line">
                                    [[${problem.outputDesc}]]
                                </p>
                                <h3 class="card-title m-t-20">
                                    <strong>样例输入</strong>
                                </h3>
                                <code style="white-space:pre-line">[[${problem.testcaseInput}]]</code>
                                <h3 class="card-title m-t-20"><strong>样例输出</strong></h3>
                                <code style="white-space:pre-line">[[${problem.testcaseOutput}]]</code>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="dropdown  float-left">
                                        <button style="width: 150px"
                                                class="btn btn-outline-primary  glow_button dropdown-toggle"
                                                type="button"
                                                id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            选择编程语言
                                        </button>
                                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" onclick="setCodeType('c')"
                                               href="javascript:void(0)">C</a>
                                            <a class="dropdown-item" onclick="setCodeType('c++')"
                                               href="javascript:void(0)">C++</a>
                                            <a class="dropdown-item" onclick="setCodeType('java8')"
                                               href="javascript:void(0)">Java8</a>
                                            <a class="dropdown-item" onclick="setCodeType('python2')"
                                               href="javascript:void(0)">Python2</a>
                                            <a class="dropdown-item" onclick="setCodeType('python3')"
                                               href="javascript:void(0)">Python3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2 ">
                                    <div id="editor" class="w-100 col-12"></div>
                                    <div class="col-12 mt-2">
                                        <button class="ml-2 float-right btn btn-info  button-rounded">
                                            <i class="fa fa-cloud"></i>&nbsp;提交代码
                                        </button>
                                        <button class="ml-2 float-right btn  btn-secondary button-rounded "
                                                onclick="clearTestcase()"
                                                data-toggle="modal" data-href="#stack1" href="#stack1">
                                            <i class="fa fa-play"></i>&nbsp;运行测试
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="card ">
                                <div class="card-header bg-white"><i class="fa fa-pie-chart"></i>&nbsp;题目统计</div>
                                <div class="card-block">
                                    <canvas id="myChart" class="w-100" style="height: 400px"></canvas>
                                </div>
                            </div>
                            <div class="card mt-3" id="changeListApp">
                                <div class="card-header bg-white">
                                    <i class="fa fa-flag"></i>&nbsp;推荐相关题目
                                </div>
                                <div class="card-body">
                                    <div v-for = "problem in suggestProblemList">
                                        <div class="task-item">
                                            <a   :href="'problem/problemDetail?problemId='+problem.id">{{problem.name}}</a>
                                            <span class="float-right text-muted progress-danger">难度{{problem.level}}</span>
                                        </div>
                                    </div>
                                    <div class="task-item">
                                        <button @click="changeList()" class=" w-100 btn btn-outline-primary glow_button glow_button"><i
                                                class="fa fa-random"></i>&nbsp;更换一组
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-3">
                                <div class="card-header bg-white ">
                                    <div class="twitter_section_head ">
                                        <i class="fa fa-commenting"></i><a href="# "
                                                                           class="text-primary">&nbsp;最新评论-讨论区</a>
                                    </div>
                                </div>
                                <div class="card-block twitter_section">
                                    <ul id="nt-example1" style="height: 255px; overflow: hidden;">

                                        <li style="margin-top: 0px;">
                                            <div class="row">
                                                <div class="col-2 col-lg-3 col-xl-2">
                                                    <img src="img/default_avatar.jpg" class="rounded-circle"
                                                         alt="image not found">
                                                </div>
                                                <div class="col-10 col-lg-9 col-xl-10">
                                                    <span class="name"><a href="#" class="text-primary">Ming</a></span>
                                                    <span
                                                            class="time">1m ago</span>
                                                    <br> <span class="msg">
                                                    <a href="#">给条活路吧!</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <hr>
                                        </li>
                                        <li style="margin-top: 0px;">
                                            <div class="row">
                                                <div class="col-2 col-lg-3 col-xl-2">
                                                    <img src="img/default_avatar.jpg" class="rounded-circle"
                                                         alt="image not found">
                                                </div>
                                                <div class="col-10 col-lg-9 col-xl-10">
                                                    <span class="name">Ming</span> <span
                                                        class="time">1m ago</span>
                                                    <br> <span class="msg">
                                                    给条活路吧!
                                            </span>
                                                </div>
                                            </div>
                                            <hr>
                                        </li>
                                        <li style="margin-top: 0px;">
                                            <div class="row">
                                                <div class="col-2 col-lg-3 col-xl-2">
                                                    <img src="img/default_avatar.jpg" class="rounded-circle"
                                                         alt="image not found">
                                                </div>
                                                <div class="col-10 col-lg-9 col-xl-10">
                                                    <span class="name">Ming</span> <span
                                                        class="time">1m ago</span>
                                                    <br> <span class="msg">
                                                    给条活路吧!
                                            </span>
                                                </div>
                                            </div>
                                            <hr>
                                        </li>
                                        <li style="margin-top: 0px;">
                                            <div class="row">
                                                <div class="col-2 col-lg-3 col-xl-2">
                                                    <img src="img/default_avatar.jpg" class="rounded-circle"
                                                         alt="image not found">
                                                </div>
                                                <div class="col-10 col-lg-9 col-xl-10">
                                                    <span class="name">Ming</span> <span
                                                        class="time">1m ago</span>
                                                    <br> <span class="msg">
                                                    给条活路吧!
                                            </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /.inner -->
    <!-- /.outer -->

    <!-- /#content -->
    <!-- Modal -->
    <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="float-right" aria-hidden="true">&times;</span>
                    </button>
                    <div class="input-group search_bar_small">
                        <input type="text" class="form-control" placeholder="题目搜索" name="search">
                        <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
      </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--- stack1 model 运行测试-->
    <div class="modal fade bs-example-modal-sm in display_none" id="stack1" tabindex="-1" role="dialog"
         aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header ">
                    <h4 class="modal-title ">添加一组测试用例</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div>
                        输入字符串:
                        <textarea id="testInput" style="height: 100px" type="text" name="testInput" class="form-control"></textarea>
                    </div>
                    <div>
                        期望结果:
                        <textarea id="eOutput" style="height: 100px" type="text" name="eOutput" class="form-control"></textarea>
                    </div>
                    <div class="mt-2">
                        <a class="btn btn-secondary" data-toggle="modal" onclick="setTestcase()" href="javascript:void(0)">输入题目样例</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>-->
                    <button type="button" class="btn btn-info" onclick="testRun()">运行</button>
                </div>
            </div>
        </div>
    </div>


    <!--wrapper-->
    <!-- /#content -->
    <div id="right">
        <div class="right_content">
            <div class="well-small dark m-t-15">
                <div class="row m-0">
                    <div class="col-lg-12 p-d-0">
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('blue_black_skin.css','css')">
                            <div class="skin_blue skin_size b_t_r"></div>
                            <div class="skin_blue_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('green_black_skin.css','css')">
                            <div class="skin_green skin_size b_t_r"></div>
                            <div class="skin_green_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('purple_black_skin.css','css')">
                            <div class="skin_purple skin_size b_t_r"></div>
                            <div class="skin_purple_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('orange_black_skin.css','css')">
                            <div class="skin_orange skin_size b_t_r"></div>
                            <div class="skin_orange_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('red_black_skin.css','css')">
                            <div class="skin_red skin_size b_t_r"></div>
                            <div class="skin_red_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('mint_black_skin.css','css')">
                            <div class="skin_mint skin_size b_t_r"></div>
                            <div class="skin_mint_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <!--</div>-->
                        <div class="skin_btn skinsingle_btn skin_blue b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('blue_skin.css','css')"></div>
                        <div class="skin_btn skinsingle_btn skin_green b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('green_skin.css','css')"></div>
                        <div class="skin_btn skinsingle_btn skin_purple b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('purple_skin.css','css')"></div>
                        <div class="skin_btn  skinsingle_btn skin_orange b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('orange_skin.css','css')"></div>
                        <div class="skin_btn skinsingle_btn skin_red b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('red_skin.css','css')"></div>
                        <div class="skin_btn skinsingle_btn skin_mint b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('mint_skin.css','css')"></div>
                    </div>
                    <div class="col-lg-12 text-center m-t-15">
                        <button class="btn btn-dark button-rounded"
                                onclick="javascript:loadjscssfile('black_skin.css','css')">Dark
                        </button>
                        <button class="btn btn-secondary button-rounded default_skin"
                                onclick="javascript:loadjscssfile('default_skin.css','css')">Default
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- # right side -->
</div>
<!-- /#wrap -->
<!-- global scripts-->
<script th:replace="~{fragments/footer :: footer}"></script>
<!--end of global scripts-->
<!--  plugin scripts -->
<script type="text/javascript" th:src="@{/vendors/ace/src-noconflict/ace.js}"></script>
<script th:src="@{/vendors/ace/src-noconflict/ext-language_tools.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/pluginjs/Chart.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/modals.js}"></script>
<!--end of plugin scripts-->
<!--page scripts-->
<script th:src="@{/js/pages/problem_detail.js}"></script>

</body>


<script th:inline="javascript">
    /*<![CDATA[*/


    var submitCount = [[${problem.submitCount}]];
    var acCount = [[${problem.acCount}]];
    var tleCount = [[${problem.tleCount}]];
    var peCount = [[${problem.peCount}]];
    var meCount = [[${problem.meCount}]];
    var reCount = [[${problem.reCount}]];
    var ceCount = [[${problem.ceCount}]];
    var waCount = [[${problem.waCount}]];



    // vue
    var changeListApp = new Vue({
        el:'#changeListApp',
        data:{
            suggestProblemList:[]
        },
        methods:{
            changeList:function () {
                this.$http.get('/problem/suggestProblemList?proCategoryId='+[[${problem.proCategoryId}]]).then(function (res) {
                    this.suggestProblemList = res.data.data;
                }),function (res) {
                    console.log(res.data.msg);
                }
            }
        }
    });
    changeListApp.changeList();
    // end of vue


    //chars
    var ctx = document.getElementById('myChart').getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [acCount, ceCount, peCount, reCount, tleCount, meCount, waCount],
                backgroundColor: [
                    '#4BC0C0',
                    '#FFCD56',
                    '#ed92ff',
                    '#FF9F40',
                    '#62b8ff',
                    '#6574ff',
                    '#FF6384'
                ],
                borderColor: []
            }],
            labels: [
                'Accepted',
                'Compile Error',
                'Presentation Error',
                'Runtime Error',
                'Time Limit Exceeded',
                'Memory Limit Exceeded',
                'Wrong Answer'
            ]
        },
        options: {
            title: {
                display: true,
                text: '提交次数-' + submitCount + '次'
            }
        }
    });
    // en of chars

    function setTestcase(){
        $("#testInput").html([[${problem.testcaseInput}]]);
        $("#eOutput").html([[${problem.testcaseOutput}]]);
    }
    function clearTestcase(){
        $("#testInput").html("");
        $("#eOutput").html("");
    }

    /*]]>*/
</script>
</html>
