<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>题库</title>
    <div th:replace="~{fragments/head-base}"></div>
    <!--Page level styles-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/pages/general_components.css}"/>

    <!--heard script-->

</head>

<!--Page head script-->

<!--end of Page head script-->
<body class="body sidebar-left-hidden fixedNav_position fixedMenu_left">
<div class="preloader" style=" position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: hidden;
  background: #ffffff;">
    <div class="preloader_img" style="width: 200px;
  height: 200px;
  position: absolute;
  left: 48%;
  top: 48%;
  background-position: center;
z-index: 999999">
        <img th:src="@{/img/loader.gif}" style=" width: 50px;" alt="loading...">
    </div>
</div>
<div id="wrap">
    <div th:replace="~{fragments/top :: top}"></div>
    <!-- /#top -->
    <div class="wrapper fixedNav_top">
        <div th:replace="~{fragments/left :: left}"></div>
        <!-- /#left -->
        <div id="content" class="bg-container">
            <header class="head">
                <div class="main-bar">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <h4 class="m-t-5">
                                <i class="fa fa-book"></i>
                                题库
                            </h4>
                        </div>
                    </div>
                </div>
            </header>
            <div class="outer">
                <div class="inner bg-container">
                    <!--title-->
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-8">
                                    <form class="w-75" th:action="@{'problem/problemList?categoryId='+categoryId+'&level='+level+'&pageNum='+pageNum}">
                                        <div class="input-group">
                                            <input type="search" name = "keyword" th:value="${keyword}" placeholder="题号、标题、标签" class="form-control">
                                            <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true">
                                        </span><i class="fa fa-search"></i>
                                        </button>
                                        </span>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <div class="dropdown  float-right">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            难度
                                        </button>
                                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item active" href="#">不限</a>
                                            <a class="dropdown-item" href="#">简单</a>
                                            <a class="dropdown-item" href="#">中等</a>
                                            <a class="dropdown-item" href="#">困难</a>
                                            <a class="dropdown-item" href="#">专家</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <button class=" w-100 btn button-rounded btn-primary glow_button glow_button" onclick="randomProblem()"><i
                                    class="fa fa-random"></i>&nbsp;帮我随机选择一题
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <!--table-->
                        <div class="col-8">
                            <div class="card">
                                <!--<h5 class="card-header bg-white ">
                                    <i class="fa fa-flag "></i>&nbsp;题目列表
                                </h5>-->
                                <div class="card-body">
                                    <table class="table  table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>题号</th>
                                            <th>标题</th>
                                            <th>标签</th>
                                            <th>提交</th>
                                            <th>通过率</th>
                                            <th>年份</th>
                                            <th>难度</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="problem,i : ${problemList}">
                                            <td>[[${problem.id}]]</td>
                                            <td><a th:href="@{'/problem/problemDetail?problemId=1000'}"
                                                   class="text-primary">[[${problem.name}]]</a></td>
                                            <td><i class="fa fa-tags"></i>&nbsp;[[${problem.tag}]]</td>
                                            <td>[[${problem.submitCount}]]</td>
                                            <td th:text="${problem.acCount}">%</td>
                                            <td>[[${#dates.format(problem.createTime,'yyyy')}]]</td>
                                            <td>
                                                <span th:if="${problem.level == 1}">
                                                    <a href="#" class="btn btn-success btn-sm purple">简单</a>
                                                </span>
                                                <span th:if="${problem.level == 2}">
                                                    <a href="#" class="btn btn-primary btn-sm purple">中等</a>
                                                </span>
                                                <span th:if="${problem.level == 3}">
                                                    <a href="#" class="btn btn-warning btn-sm purple">困难</a>
                                                </span>
                                                <span th:if="${problem.level == 4}">
                                                    <a href="#" class="btn btn-danger btn-sm purple">专家</a>
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <!--#table-->

                        <!--right-->
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header bg-white"><i class="fa fa-bars"></i>&nbsp;题目分类</div>
                                <div class="card-block  ">
                                    <div class="row">
                                        <div class="col-12">
                                            <span th:each="category,i: ${problemCategoryList}">
                                                <a th:href="@{'/problem/problemList?categoryId='+${category.id}}"
                                                   th:classappend="${categoryId eq (category.id)} ? 'active disabled':''"
                                                   class="btn btn-outline-primary mt-3 mr-3 glow_button">
                                                    [[${category.name}]]
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header bg-white"><i class="fa fa-tags"></i>&nbsp;标签云</div>
                                <div class="card-block  ">
                                    <div class="row">
                                        <div class="col-12">
                                            <a th:href="@{'/problem/problemList?categoryId='+${categoryId}}"
                                               class="btn btn-secondary mt-3 mr-3 glow_button text-primary">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header bg-white"><i class="fa fa-clock-o"></i>&nbsp;时间</div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--#right-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.outer -->

    <!-- /#content -->
    <!-- Modal -->
    <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="float-right" aria-hidden="true">&times;</span>
                    </button>
                    <div class="input-group search_bar_small">
                        <input type="text" class="form-control" placeholder="题目搜索" name="search">
                        <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
        </button>
      </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--wrapper-->
    <!-- /#content -->
    <div id="right">
        <div class="right_content">
            <div class="well-small dark m-t-15">
                <div class="row m-0">
                    <div class="col-lg-12 p-d-0">
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('blue_black_skin.css','css')">
                            <div class="skin_blue skin_size b_t_r"></div>
                            <div class="skin_blue_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('green_black_skin.css','css')">
                            <div class="skin_green skin_size b_t_r"></div>
                            <div class="skin_green_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('purple_black_skin.css','css')">
                            <div class="skin_purple skin_size b_t_r"></div>
                            <div class="skin_purple_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('orange_black_skin.css','css')">
                            <div class="skin_orange skin_size b_t_r"></div>
                            <div class="skin_orange_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('red_black_skin.css','css')">
                            <div class="skin_red skin_size b_t_r"></div>
                            <div class="skin_red_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <div class="skinmulti_btn" onclick="javascript:loadjscssfile('mint_black_skin.css','css')">
                            <div class="skin_mint skin_size b_t_r"></div>
                            <div class="skin_mint_border skin_shaddow skin_size b_b_r"></div>
                        </div>
                        <!--</div>-->
                        <div class="skin_btn skinsingle_btn skin_blue b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('blue_skin.css','css')"></div>
                        <div class="skin_btn skinsingle_btn skin_green b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('green_skin.css','css')"></div>
                        <div class="skin_btn skinsingle_btn skin_purple b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('purple_skin.css','css')"></div>
                        <div class="skin_btn  skinsingle_btn skin_orange b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('orange_skin.css','css')"></div>
                        <div class="skin_btn skinsingle_btn skin_red b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('red_skin.css','css')"></div>
                        <div class="skin_btn skinsingle_btn skin_mint b_r height_40 skin_shaddow"
                             onclick="javascript:loadjscssfile('mint_skin.css','css')"></div>
                    </div>
                    <div class="col-lg-12 text-center m-t-15">
                        <button class="btn btn-dark button-rounded"
                                onclick="javascript:loadjscssfile('black_skin.css','css')">Dark
                        </button>
                        <button class="btn btn-secondary button-rounded default_skin"
                                onclick="javascript:loadjscssfile('default_skin.css','css')">Default
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- # right side -->
</div>
<!-- /#wrap -->
<!-- global scripts-->
<div th:replace="~{fragments/footer :: footer}"></div>

<!--end of global scripts-->
<script type="text/javascript" th:src="@{/js/pages/problem_list.js}"></script>

</body>

</html>
