<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>页脚</title>
</head>
<div  data-th-fragment="footer">

        <!-- global scripts-->
    <script type="text/javascript" th:src="@{/js/components.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/Buttons/js/buttons.js}"></script>
    <script type="text/javascript" th:src="@{/js/pluginjs/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pluginjs/vue-resource.min.js}"></script>
    <!--end of global scripts-->

</div>
</html>