<meta charset="UTF-8">
<base th:href="@{/}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" th:href="@{/img/logo.png}"/>
<!--global styles-->
<link type="text/css" rel="stylesheet" th:href="@{/css/components.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/custom.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/plugins/Buttons/css/buttons.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/buttons.css}"/>
<!--<link  type="text/css" rel="stylesheet" th:href="@{/css/toastr.min.css}" />-->

<link type="text/css" rel="stylesheet" th:href="@{/css/pages/new_dashboard.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/page.css}"/>

<link type="text/css" rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/message.css}" />

<link type="text/css" rel="stylesheet" th:href="@{/plugins/markdown/editormd.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/plugins/select2/css/select2-bootstrap4.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/naranja.css}" />

<link type="text/css" rel="stylesheet" th:href="@{/plugins/sweetalert/css/sweetalert2.min.css}"/>
<!-- end of global styles-->

