<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="left" class="fixed"  data-th-fragment="left">
    <div class="menu_scroll" style="height: 4500px !important">
        <br/>
        <ul id="menu">
            <li  th:classappend="${active1}? 'active':''">
                <a th:href="@{/}"  data-toggle="tooltip" data-placement="right"  title="首页">
                    <i class="fa fa-home "></i>
                    <span class="link-title menu_hide">&nbsp;首页</span>
                </a>
            </li>
            <li th:classappend="${active2} ? 'active':''">
                <a th:href="@{/problem/problemListPage}" data-age="1" data-toggle="tooltip" data-placement="right" title="题库">
                    <i class="fa fa-book"></i>
                    <span class="link-title menu_hide">&nbsp;题库
                    </span>
                </a>
            </li>
            <li th:classappend="${active3} ? 'active':''">
                <a th:href="@{/competition/competitionListPage}" data-toggle="tooltip" data-placement="right"  title="比赛">
                    <i class="fa fa-trophy"></i>
                    <span class="link-title menu_hide"> &nbsp;比赛</span>
                </a>
            </li>

            <li th:classappend="${active4} ? 'active':''">
                <a th:href="@{/problemResult/problemResultListPage}" data-toggle="tooltip" data-placement="right"  title="测评记录">
                    <i class="fa fa-pie-chart"></i>
                    <span class="link-title menu_hide"> &nbsp;测评记录</span>
                </a>
            </li>

            <li th:classappend="${active5} ? 'active':''">
                <a th:href="@{/rankPage}" data-toggle="tooltip" data-placement="right"  title="排行榜">
                    <i class="fa fa-bar-chart"></i>
                    <span class="link-title menu_hide">&nbsp;排行榜</span>
                </a>
            </li>

            <li th:classappend="${active6} ? 'active':''">
                <a th:href="@{/blog/blogListPage}" data-toggle="tooltip" data-placement="right"  title="讨论区">
                    <i class="fa fa-comments"></i>
                    <span class="link-title menu_hide">&nbsp;讨论区</span>
                </a>
            </li>
            <li th:classappend="${active7} ? 'active':''">
                <a th:href="@{/index/about}" data-toggle="tooltip" data-placement="right"  title="关于">
                    <i class="fa fa-info-circle"></i>
                    <span class="link-title menu_hide">&nbsp;关于</span>
                </a>
            </li>

        </ul>
        <!-- /#menu -->
    </div>
</div>
<!-- /#left -->

</html>