<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="left" class="fixed"  data-th-fragment="left">
    <div class="menu_scroll">
        <br/>
        <ul id="menu">
            <li class="active">
                <a th:href="@{/}"  data-toggle="tooltip" data-placement="right"  title="首页">
                    <i class="fa fa-home"></i>
                    <span class="link-title menu_hide">&nbsp;首页</span>
                </a>
            </li>
            <li >
                <a th:href="@{/problem/problemList}" data-toggle="tooltip" data-placement="right" title="题库">
                    <i class="fa fa-book"></i>
                    <span class="link-title menu_hide">&nbsp;题库
                    </span>
                </a>
            </li>
            <li>
                <a th:href="@{/competition/competitionList}" data-toggle="tooltip" data-placement="right"  title="比赛">
                    <i class="fa fa-trophy"></i>
                    <span class="link-title menu_hide"> &nbsp; 比赛</span>
                </a>
            </li>

            <li>
                <a href="#" data-toggle="tooltip" data-placement="right"  title="排行榜">
                    <i class="fa fa-bar-chart"></i>
                    <span class="link-title menu_hide">&nbsp; 排行榜</span>
                </a>
            </li>

            <li>
                <a th:href="@{/testcase/testcaseList}" data-toggle="tooltip" data-placement="right"  title="测评记录">
                    <i class="fa fa-pie-chart"></i>
                    <span class="link-title menu_hide"> &nbsp; 测评记录</span>
                </a>
            </li>


            <li>
                <a th:href="@{/blog/blogList}" data-toggle="tooltip" data-placement="right"  title="讨论区">
                    <i class="fa fa-comments"></i>
                    <span class="link-title menu_hide">&nbsp; 讨论区</span>
                </a>
            </li>
        </ul>
        <!-- /#menu -->
    </div>
</div>
<!-- /#left -->

</html>