<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      class="no-js">
<!--导航栏-->
<div id="top" class="fixed" data-th-fragment="top">
    <!-- .navbar -->
    <nav class="navbar navbar-static-top">
        <div class="container-fluid m-0">
            <a class="navbar-brand float-left" href="index.html">
                <h4><img th:src="@{/img/logo1.png}" class="admin_img2" alt="logo">&nbsp;计算机程序在线性能测评系统</h4>
            </a>
            <div class="menu hidden-lg-up">
                    <span class="toggle-left" id="menu-toggle">
                        <i class="fa fa-bars"></i>
                    </span>
            </div>
            <div class="topnav dropdown-menu-right float-right">
                <div class="btn-group hidden-md-up small_device_search" data-toggle="modal"
                     data-target="#search_modal">
                    <i class="fa fa-search text-primary"></i>
                </div>
                <div class="btn-group">
                    <div class="notifications no-bg">
                        <a class="btn btn-default btn-sm messages" data-toggle="dropdown" id="messages_section"> <i
                                class="fa fa-envelope-o fa-1x"></i>
                            <span class="badge badge-pill badge-warning notifications_badge_top">8</span>
                        </a>
                        <div class="dropdown-menu drop_box_align" role="menu" id="messages_dropdown">
                            <div class="popover-title">You have 8 Messages</div>
                            <div id="messages">
                                <div class="data">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="img/mailbox_imgs/5.jpg"
                                                 class="message-img avatar rounded-circle"
                                                 alt="avatar1"></div>
                                        <div class="col-10 message-data"><strong>hally</strong>
                                            sent you an image.
                                            <br>
                                            <small>add to timeline</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="popover-footer">
                                <a href="mail_inbox.html" class="text-white">Inbox</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <div class="notifications messages no-bg">
                        <a class="btn btn-default btn-sm" data-toggle="dropdown" id="notifications_section"> <i
                                class="fa fa-bell-o"></i>
                            <span class="badge badge-pill badge-danger notifications_badge_top">9</span>
                        </a>
                        <div class="dropdown-menu drop_box_align" role="menu" id="notifications_dropdown">
                            <div class="popover-title">You have 9 Notifications</div>
                            <div id="notifications">
                                <div class="data">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="img/mailbox_imgs/2.jpg"
                                                 class="message-img avatar rounded-circle"
                                                 alt="avatar1"></div>
                                        <div class="col-10 message-data">
                                            <i class="fa fa-clock-o"></i>
                                            <strong>clay</strong>
                                            business propasals
                                            <br>
                                            <small class="primary_txt">20min Back.</small>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="popover-footer">
                                <a href="#" class="text-white">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <div class="notifications request_section no-bg">
                        <a class="btn btn-default btn-sm messages" id="request_btn"> <i
                                class="fa fa-sliders" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="btn-group">
                    <div class="user-settings no-bg">
                        <button type="button" class="btn btn-default no-bg micheal_btn" data-toggle="dropdown">
                            <img src="img/admin.jpg" class="admin_img2  rounded-circle "
                                 alt="avatar"> <strong>Ming</strong>
                            <span class="fa fa-sort-down white_bg"></span>
                        </button>
                        <div class="dropdown-menu drop_box_align">
                            <a class="dropdown-item title" href="#">
                                Ming</a>
                            <a class="dropdown-item" href="edit_user.html"><i class="fa fa-cogs"></i>
                                Settings</a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-user"></i>
                                User Status
                            </a>
                            <a class="dropdown-item" href="mail_inbox.html"><i class="fa fa-envelope"></i>
                                Inbox</a>

                            <a class="dropdown-item" href="lockscreen.html"><i class="fa fa-lock"></i>
                                Lock Screen</a>
                            <a class="dropdown-item" href="login2.html"><i class="fa fa-sign-out"></i>
                                Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_search_box float-right hidden-sm-down">
                <form class="header_input_search float-right">
                    <input type="text" placeholder="题目搜索" name="search">
                    <button type="submit">
                        <span class="font-icon-search"></span>
                    </button>
                    <div class="overlay"></div>
                </form>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- /.navbar -->
    <!-- /.head -->
</div>
</html>