<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>角色列表</title>
    <div th:replace="~{fragments/backend/head-base}"></div>
    <link type="text/css" rel="stylesheet" th:href="@{/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/pages/gallery.css}"/>
</head>
<body class="body fixedNav_position fixedMenu_left">
<div class="preloader" style=" position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: hidden;
  background: #ffffff;">
    <div class="preloader_img" style="width: 200px;
  height: 200px;
  position: absolute;
  left: 48%;
  top: 48%;
  background-position: center;
z-index: 999999">
        <img th:src="@{/img/loader.gif}" style=" width: 50px;" alt="loading...">
    </div>
</div>
<!--wrap-->
<div id="wrap">
    <div th:replace="~{fragments/backend/top :: top}"></div>
    <!-- /#top -->
    <div class="wrapper fixedNav_top">
        <div th:replace="~{fragments/backend/left :: left}"></div>
        <!-- /#left -->
        <div id="content" class="bg-container">
            <header class="head">
                <div class="main-bar">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <h4 class="m-t-5">
                                <i class="fa fa-user"></i><span class="ml-1">角色列表</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </header>
            <div class="outer">
                <div class="inner bg-container">
                    <!--app-->
                    <div id="">
                        <div class="row">
                            <div class="col-12">
                                <div class="w-50 float-left">
                                    <div class="input-group">
                                        <input type="search" id="keyword" name="keyword" value=""
                                               placeholder="输入 角色名/备注 进行搜索" class="form-control"/>
                                        <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button"
                                                            onclick="clickPage(1)">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true">
                                                    </span><i class="fa fa-search"></i>
                                                    </button>
                                        </span>
                                        <span class="ml-3">
                                            <button class="btn  btn-secondary  "
                                                    @click="initRole()"
                                                    data-toggle="modal" data-href="#stack1" href="#stack1">
                                            <i class="fa fa-plus mr-1"></i>添加角色
                                            </button>

                                        </span>
                                    </div>

                                </div>
                            </div>
                            <!--roleList-->
                            <div class="col-12 mt-3">
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">角色名</th>
                                        <th class="text-center">备注</th>
                                        <th class="text-center">创建时间</th>
                                        <th class="text-center">更新时间</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(role,index) in roleList">
                                        <td class="text-center">
                                            {{index + 1 + (pageNum-1) * 10}}
                                        </td>
                                        <td class="text-center">{{role.name}}</td>
                                        <td class="text-center">{{role.remark}}</td>
                                        <td class="text-center">{{role.createTime | formatDate}}</td>
                                        <td class="text-center">{{role.updateTime | formatDate}}</td>
                                        <td class="text-center">
                                            <button data-toggle="modal" data-href="#stack1" href="#stack1"
                                                    class="btn btn-sm btn-primary" @click="roleDetail(role.id)">编辑
                                            </button>
                                            <a @click="deleteRole(role.id)">
                                                <button class="btn btn-sm btn-danger">删除</button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--page-->
                                <div class="row mt-3">
                                    <div style="margin: 0 auto">
                                        <ul class="page" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
                                    </div>
                                </div>
                                <!--#page-->
                            </div>
                            <!--#roleList-->
                        </div>
                    </div>
                    <!--#app-->
                </div>
            </div>
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.outer -->
    <!-- /#content -->
    <!-- Modal -->

    <div class="modal fade bs-example-modal-sm in display_none" id="stack1" role="dialog"
         aria-hidden="false">
        <div class="modal-dialog " style="width: 1000px">
            <div class="modal-content">
                <div class="modal-header ">
                    <h4 class="modal-title " id="saveTile">添加角色</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form id="roleForm">
                        <input type="hidden" v-model="role.id" name="id"/>
                        <table class="table ">
                            <tr>
                                <td><span class="text-danger">*</span>角色名</td>
                                <td>
                                    <input name="name" v-model="role.name" maxlength="20" type="text" class="form-control"/>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="text-danger">*</span>备注</td>
                                <td>
                                    <input name="remark" v-model="role.remark" maxlength="100" type="text" class="form-control"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">取消</button>
                    <button type="button" id="saveUser" class="btn btn-info"
                            onclick="saveRole()">提交
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- # right side -->
</div>
<!-- /#wrap -->
<!-- global scripts-->
<div th:replace="~{fragments/backend/footer :: footer}"></div>
<!--end of global scripts-->
<!--  plugin scripts -->
<script type="text/javascript" th:src="@{/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js}"></script>
<!--end of plugin scripts-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/


    // vue
    var wrap = new Vue({
        el: '#wrap',
        data: {
            total: 0,
            pageNum: 1,
            role:{},
            roleList: []
        },
        filters: {
            formatDate: function (val) {
                var value = new Date(val);
                var year = value.getFullYear();
                var month = padDate(value.getMonth() + 1);
                var day = padDate(value.getDate());
                var hour = padDate(value.getHours());
                var minutes = padDate(value.getMinutes());
                var seconds = padDate(value.getSeconds());
                return year + '-' + month + '-' + day + ' ' + hour + ':' + minutes + ':' + seconds;
            },
            formatYear: function (val) {
                var value = new Date(val);
                var year = value.getFullYear();
                return year;
            },
            formatNum: function (val) {
                //四舍五入
                return  parseFloat(val).toFixed(2);
            }
        },
        methods: {
            listRole: function (pageNum) {
                var keyword = $("#keyword").val();
                var url = '/backend/role/listRole2Page';

                this.$http.post(url, {
                    "pageNum": pageNum,
                    "keyword": keyword
                }, {emulateJSON: true}).then(function (res) {
                    this.total = res.data.data.total;
                    this.roleList = res.data.data.list;
                    this.pageNum = pageNum;
                    $("#page").initPage(this.total, pageNum, clickPage);
                }), function (res) {
                    console.log(res.data.msg);
                }
            }
        }
    });
    //初始化
    wrap.listRole(1);

    //分页点击方法
    function clickPage(pageNum) {
        wrap.listRole(pageNum);
    }

    //添加角色点击初始化
    function initRole() {
        $("#saveTile").html("添加角色");
        wrap.role = {};
    }


    function deleteRole(roleId) {
        swal({
            title: '确认删除该角色?',
            // text: '提醒',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#EF6F6C',
            cancelButtonColor: '#4fb7fe',
            confirmButtonText: '确定',
            cancelButtonText:'取消'
        }).then(function () {
            $.post("/backend/role/delete", {"roleId": roleId}, function (resp) {
                if (resp.status == 200) {
                    $.message({
                        message: resp.msg,
                        type: 'success'
                    });
                    clickPage(1);
                } else {
                    $.message({
                        message: resp.msg,
                        type: 'error'
                    });
                }
            })
        }).catch(function(reason) {

            return false;
        });
    }


    function checkField() {
        var role = wrap.role;
        if (role.name == null || role.name.trim().length == 0) {
            $.message({
                message: "角色名不能为空",
                type: 'warning'
            });
            return false;
        }
        if (role.remark == null || role.remark.trim().length == 0) {
            $.message({
                message: "备注不能为空",
                type: 'warning'
            });
            return false;
        }

        return true;
    }

    //添加-更新
    function saveRole() {
        var role = $("#roleForm").serialize();


        if (!checkField()) {
            return;
        }
        $.ajax({
            url: '/backend/role/save',
            type: 'POST',
            data: role,
            async: true,
            success: function (resp) {
                if (resp.status == 200) {
                    $.message({
                        message: resp.msg,
                        type: 'success'
                    });
                    $('#stack1').modal('hide');
                    clickPage(1);
                } else {
                    $.message({
                        message: resp.msg,
                        type: 'error'
                    });
                }
            }
        });
    }

    //详情
    function roleDetail(roleId) {
        $("#saveTile").html("更新角色");
        $.post("/backend/role/get", {"roleId": roleId}, function (resp) {
            if (resp.status == 200) {
                wrap.role = resp.data;
            } else {
                $.message({
                    message: resp.msg,
                    type: 'error'
                });
            }
        })
    }

    // end of vue

    /*]]>*/


</script>

</body>

</html>
