<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>用户列表</title>
    <div th:replace="~{fragments/backend/head-base}"></div>
</head>
<body class="body fixedNav_position fixedMenu_left">
<div class="preloader" style=" position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: hidden;
  background: #ffffff;">
    <div class="preloader_img" style="width: 200px;
  height: 200px;
  position: absolute;
  left: 48%;
  top: 48%;
  background-position: center;
z-index: 999999">
        <img th:src="@{/img/loader.gif}" style=" width: 50px;" alt="loading...">
    </div>
</div>
<!--wrap-->
<div id="wrap">
    <div th:replace="~{fragments/backend/top :: top}"></div>
    <!-- /#top -->
    <div class="wrapper fixedNav_top">
        <div th:replace="~{fragments/backend/left :: left}"></div>
        <!-- /#left -->
        <div id="content" class="bg-container">
            <header class="head">
                <div class="main-bar">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <h4 class="m-t-5">
                                <i class="fa fa-user"></i><span class="ml-1">用户列表</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </header>
            <div class="outer">
                <div class="inner bg-container">
                    <!--app-->
                    <div id="userApp">
                        <div class="row">
                            <div class="col-12">
                                <div class="w-25 float-left">
                                    <div class="input-group">
                                        <input type="search" id="keyword" name="keyword" value=""
                                               placeholder="输入用户名进行搜索" class="form-control"/>
                                        <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button"
                                                            onclick="clickPage(1)">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true">
                                                    </span><i class="fa fa-search"></i>
                                                    </button>
                                        </span>
                                        <span class="ml-3">
                                            <button class="btn  btn-secondary button-rounded "
                                                    data-toggle="modal" data-href="#stack1" href="#stack1">
                                            <i class="fa fa-user mr-1"></i>添加用户
                                            </button>

                                        </span>
                                    </div>

                                </div>
                            </div>
                            <!--userList-->
                            <div class="col-12 mt-3">
                                        <table  class="table  table-bordered table-hover">
                                            <thead >
                                            <tr >
                                                <th class="text-center">#</th>
                                                <th class="text-center">账号</th>
                                                <th class="text-center">头像</th>
                                                <th class="text-center">用户名</th>
                                                <th class="text-center">性别</th>
                                                <th class="text-center">学校</th>
                                                <th class="text-center">邮箱</th>
                                                <th class="text-center">电话</th>
                                                <th class="text-center">角色</th>
                                                <th class="text-center">状态</th>
                                                <th class="text-center">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody >
                                            <tr v-for="(user,index) in userList">
                                                <td class="text-center">
                                                    {{index + 1}}
                                                </td>
                                                <td class="text-center">{{user.username}}</td>
                                                <td class="text-center">
                                                    <a :href="'/user/mainPage?userId='+user.id" target="_blank">
                                                        <img :src="user.avatar == null ? 'img/default_avatar.jpg' : user.avatar"
                                                             class="rounded-circle hidden-sm-down img-50"
                                                             alt="image not found">
                                                    </a>
                                                </td>


                                                <td class="text-center"><a class="primary-hover" target="_blank" :href="'/user/mainPage?userId='+user.id">{{user.name}}</a></td>
                                                <td class="text-center">{{user.sex}}</td>
                                                <td class="text-center">{{user.school}}</td>
                                                <td class="text-center">{{user.email}}</td>
                                                <td class="text-center">{{user.phone}}</td>
                                                <td class="text-center">
                                                    <span v-for="(role,index) in user.roleList">
                                                        <span v-if="role.id == 1">
                                                            管理员
                                                        </span>
                                                        <span v-if="role.id == 2">
                                                            普通用户
                                                        </span>
                                                    </span>
                                                </td>
                                                <td class="text-center">
                                                    <span v-if="user.flag == 0"><button class="btn btn-sm btn-outline-success">正常</button></span>
                                                    <span v-if="user.flag == 1"><button class="btn btn-sm btn-outline-warning">已冻结</button></span>
                                                    <span v-if="user.flag == 2"><button class="btn btn-sm btn-outline-danger">已删除</button></span>
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-sm btn-primary">详情</button>
                                                    <a @click="activeUser(user.id)">
                                                        <button class="btn btn-sm btn-success">激活</button>
                                                    </a>
                                                    <a @click="lockUser(user.id)">
                                                        <button class="btn btn-sm btn-warning">冻结</button>
                                                    </a>
                                                    <a @click="deleteUser(user.id)">
                                                        <button class="btn btn-sm btn-danger">删除</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                <!--page-->
                                <div class="row mt-3">
                                    <div style="margin: 0 auto">
                                        <ul class="page" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
                                    </div>
                                </div>
                                <!--#page-->
                            </div>
                            <!--#userList-->
                        </div>
                    </div>
                    <!--#app-->
                </div>
            </div>
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.outer -->
    <!-- /#content -->
    <!-- Modal -->

    <div class="modal fade bs-example-modal-sm in display_none" id="stack1" tabindex="-1" role="dialog"
         aria-hidden="false">
        <div class="modal-dialog modal-lg" style="width: 1000px">
            <div class="modal-content">
                <div class="modal-header ">
                    <h4 class="modal-title ">添加用户</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form  id="userForm" >
                        <table class="table ">
                            <tr>
                                <td><span class="text-danger">*</span>账号</td>
                                <td><input name="username" type="text" class="form-control"/></td>
                                <td><span class="text-danger">*</span>密码</td>
                                <td><input name="password" type="password" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td>头像</td>
                                <td><input name="avatar" type="text" class="form-control"/></td>
                                <td>用户名</td>
                                <td><input name="username" type="text" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td><span class="text-danger">*</span>性别</td>
                                <td><input name="sex" type="sex" class="form-control"/></td>
                                <td><span class="text-danger">*</span>角色</td>
                                <td>
                                    <!--select2-->
                                </td>
                            </tr>
                            <tr>
                                <td><span class="text-danger">*</span>email</td>
                                <td><input name="email" type="text" class="form-control"/></td>
                                <td>手机</td>
                                <td>
                                    <input name="phone" type="text" class="form-control"/>
                                </td>
                            </tr>
                            <tr>
                                <td>学校</td>
                                <td><input name="school" type="text" class="form-control"/></td>
                                <td>心情</td>
                                <td>
                                    <textarea name="mood" class="form-control"></textarea>
                                </td>
                            </tr>
                            <tr>

                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="addUser" data-dismiss="modal" class="btn btn-info" onclick="addUser()">提交</button>
                </div>
            </div>
        </div>
    </div>

    <!-- # right side -->
</div>
<!-- /#wrap -->
<!-- global scripts-->
<div th:replace="~{fragments/backend/footer :: footer}"></div>
<!--end of global scripts-->
<!--  plugin scripts -->
<script type="text/javascript" th:src="@{/js/pages/backend/index.js}"></script>
<!--end of plugin scripts-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/


    // vue
    var userApp = new Vue({
        el: '#userApp',
        data: {
            total: 0,
            userList: []
        },
        filters: {
            formatDate: function (val) {
                var value = new Date(val);
                var year = value.getFullYear();
                var month = padDate(value.getMonth() + 1);
                var day = padDate(value.getDate());
                var hour = padDate(value.getHours());
                var minutes = padDate(value.getMinutes());
                var seconds = padDate(value.getSeconds());
                return year + '-' + month + '-' + day + ' ' + hour + ':' + minutes + ':' + seconds;
            },
            formatYear: function (val) {
                var value = new Date(val);
                var year = value.getFullYear();
                return year;
            },
            formatNum: function (val) {
                //四舍五入
                var realVal = parseFloat(val).toFixed(2);
                return parseFloat(realVal);
            }
        },
        methods: {
            listUser: function (pageNum) {
                var keyword = $("#keyword").val();
                var url = '/backend/user/listUser2Page';

                this.$http.post(url,{"pageNum":pageNum,"keyword":keyword},{emulateJSON:true}).then(function (res) {
                    this.total = res.data.data.total;
                    this.userList = res.data.data.list;
                    $("#page").initPage(this.total, pageNum, clickPage);
                }), function (res) {
                    console.log(res.data.msg);
                }
            }
        }
    });
    userApp.listUser(1);

    //分页点击方法
    function clickPage(pageNum) {
        userApp.listUser(pageNum);
    }


    function activeUser(userId) {
        $.post("/backend/user/active",{"userId":userId},function (resp) {
            if(resp.status == 200){
                $.message({
                    message:resp.msg,
                    type:'success'
                });
                clickPage(1);
            }else {
                $.message({
                    message:resp.msg,
                    type:'error'
                });
            }
        })
    }

    function deleteUser(userId) {
        $.post("/backend/user/delete",{"userId":userId},function (resp) {
            if(resp.status == 200){
                $.message({
                    message:resp.msg,
                    type:'success'
                });
                clickPage(1);
            }else {
                $.message({
                    message:resp.msg,
                    type:'error'
                });
            }
        })
    }

    function lockUser(userId) {
        $.post("/backend/user/lock",{"userId":userId},function (resp) {
            if(resp.status == 200){
                $.message({
                    message:resp.msg,
                    type:'success'
                });
                clickPage(1);
            }else {
                $.message({
                    message:resp.msg,
                    type:'error'
                });
            }
        })
    }

    function addUser() {
        var user = $("#userForm").serialize();
        $.post("/backend/user/add",user,function (resp) {
            if(resp.status == 200){
                $.message({
                    message:resp.msg,
                    type:'success'
                });
                clickPage(1);
            }else {
                $.message({
                    message:resp.msg,
                    type:'error'
                });
            }
        })
    }
    
    
    
    
    
    // end of vue

    /*]]>*/



</script>

</body>

</html>
