<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>比赛详情</title>
    <div th:replace="~{fragments/head-base}"></div>
    <!--Page level styles-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/timer.css}"/>
    <!--heard script-->
</head>

<!--Page head script-->

<!--end of Page head script-->
<body class="body sidebar-left-hidden fixedNav_position fixedMenu_left">
<div class="preloader" style=" position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: hidden;
  background: #ffffff;">
    <div class="preloader_img" style="width: 200px;
  height: 200px;
  position: absolute;
  left: 48%;
  top: 48%;
  background-position: center;
z-index: 999999">
        <img th:src="@{/img/loader.gif}" style=" width: 50px;" alt="loading...">
    </div>
</div>
<div id="wrap">
    <div th:replace="~{fragments/top :: top}"></div>
    <!-- /#top -->
    <div class="wrapper fixedNav_top">
        <div th:replace="~{fragments/left :: left}"></div>
        <!-- /#left -->
        <div id="content" class="bg-container">
            <header class="head">
                <div class="main-bar">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <h4 class="nav_top_align">
                                <i class="fa fa-trophy mr-1"></i>
                                [[${competition.name}]]
                            </h4>
                        </div>
                    </div>
                </div>
            </header>
            <div class="outer">
                <div class="inner bg-container">
                    <div id="competitionApp">
                    <div class="row mt-3">
                        <div class="col-8">
                            <div class="card">
                                <div>
                                    <ul class="nav nav-inline view_user_nav_padding">
                                        <li class="nav-item card_nav_hover">
                                            <a class="nav-link active" href="#tab1" id="home-tab" data-toggle="tab"
                                               aria-expanded="true">
                                                <i class="fa  fa-file-text-o"></i><span class="ml-2">题目列表</span>
                                            </a>
                                        </li>
                                        <li class="nav-item card_nav_hover">
                                            <a class="nav-link " href="#tab2" id="hats-tab" data-toggle="tab"
                                               aria-expanded="false">
                                                <i class="fa fa-code"></i><span class="ml-2">我的提交</span>
                                            </a>
                                        </li>
                                        <li class="nav-item card_nav_hover">
                                            <a class="nav-link " href="#tab3" onclick="clickPageRegister(1)" id="acProblemList" data-toggle="tab"
                                               aria-expanded="false">
                                                <i class="fa fa-bar-chart"></i><span class="ml-2">排名</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="clothing-nav-content" class="tab-content m-t-10">
                                        <!--tab1-->
                                        <div role="tabpanel" class="tab-pane fade active show" id="tab1"
                                             aria-expanded="false">
                                            <table class="table table-hover tables ">
                                                <thead class="">
                                                <tr>
                                                    <th class="text-center">题号</th>
                                                    <th class="">标题</th>
                                                    <th class="text-center">提交</th>
                                                    <th class="text-center">通过率</th>
                                                    <th class="text-center">分值</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(competitionProblem,index) in competitionProblemList">
                                                    <td class="text-center">
                                                        {{competitionProblem.problemId}}
                                                    </td>
                                                    <td class=""><a target="_blank" :href="'problem/problemDetailPage?problemId='+competitionProblem.problemId+'&compId='+competitionProblem.compId" class="text-primary"> {{competitionProblem.problemName}}</a></td>
                                                    <td class="text-center">{{competitionProblem.submitCount}}</td>
                                                    <td class="text-center">
                                                        <span v-if="competitionProblem.acCount != 0">
                                                            {{competitionProblem.acCount*1.0 / competitionProblem.submitCount*100 | formatNum}}%
                                                        </span>
                                                        <span v-if="competitionProblem.acCount == 0">
                                                            0.00%
                                                        </span>
                                                    </td>
                                                    <td class="text-center">{{competitionProblem.score}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--#tab1--->
                                        <!--tab2-->
                                        <div role="tabpanel" class="tab-pane fade " id="tab2"
                                             aria-expanded="true">
                                            <table class="table table-hover">
                                                <thead class="">
                                                <tr>
                                                    <th class="text-center">题号</th>
                                                    <th class="text-center">状态</th>
                                                    <th class="text-center">得分</th>
                                                    <th class="text-center">通过组数</th>
                                                    <th class="text-center">提交时间</th>
                                                    <th class="text-center">使用语言</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(problemResult,index) in problemResultList">
                                                    <td class="text-center">{{problemResult.problemId}}</td>
                                                    <td class="text-center">
                                                        <span class="btn-sm "
                                                              v-if="problemResult.status == 0">

                                                            <span class="mr-1">编译中</span>
                                                            <i class="fa fa-spinner fa-pulse "></i>
                                                        </span>
                                                                <span class=" btn-sm text-white" style="background-color: #4BC0C0"
                                                                      v-if="problemResult.status == 1">
                                                            答案正确
                                                        </span>
                                                                <span class=" btn-sm text-white" style="background-color: #FFCD56"
                                                                      v-if="problemResult.status == 2">
                                                            编译错误
                                                        </span>
                                                                <span class=" btn-sm text-white" style="background-color: #ed92ff"
                                                                      v-if="problemResult.status == 3">
                                                            格式错误
                                                        </span>
                                                                <span class=" btn-sm text-white" style="background-color: #FF9F40"
                                                                      v-if="problemResult.status == 4">
                                                            运行错误
                                                        </span>
                                                                <span class=" btn-sm text-white" style="background-color: #62b8ff"
                                                                      v-if="problemResult.status == 5">
                                                            时间超限
                                                        </span>
                                                                <span class=" btn-sm text-white" style="background-color: #6574ff"
                                                                      v-if="problemResult.status == 6">
                                                            内存超限
                                                        </span>
                                                                <span class=" btn-sm  text-white" style="background-color:#FF6384 "
                                                                      v-if="problemResult.status == 7">
                                                            答案错误
                                                        </span>
                                                                <span class="btn-sm" v-if="problemResult.status == 8">
                                                                    <span>队列中</span><i class="ml-1 fa fa-spinner fa-pulse"></i>
                                                        </span>
                                                                <span class=" btn-sm"
                                                                      v-if="problemResult.status == 9">
                                                                <span>判题中</span>
                                                                <i class="ml-1 fa fa-spinner fa-pulse"></i>
                                                        </span>
                                                    </td>
                                                    <td class="text-center">{{problemResult.score}}</td>
                                                    <td class="text-center">{{problemResult.acCount}}</td>
                                                    <td class="text-center">{{problemResult.createTime | formatDate}}</td>
                                                    <td class="text-center">{{problemResult.type}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!--page-->
                                            <div class="row mt-3 mb-3">
                                                <div style="margin: 0 auto">
                                                    <ul class="page" maxshowpageitem="5" pagelistcount="10"
                                                        id="page1"></ul>
                                                </div>
                                            </div>
                                            <!--#page-->

                                        </div>
                                        <!--#tab2-->
                                        <!--tab3-->
                                        <div role="tabpanel" class="tab-pane fade" id="tab3" aria-expanded="false">
                                            <table class="table table-hover ">
                                                <thead class="">
                                                <tr>
                                                    <th class="text-center">排名</th>
                                                    <th class="text-center">用户名</th>
                                                    <th class="text-center">学校</th>
                                                    <th class="text-center">总分</th>
                                                    <th class="text-center">完成题数</th>
                                                    <th class="text-center">提交</th>
                                                    <th class="text-center">AC率</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(register,index) in registerList">
                                                    <td class="text-center">{{index + 1}}</td>
                                                    <td class="text-center"><a target="_blank" :href="'/user/mainPage?userId='+register.userId" class="text-primary">{{register.name}}</a></td>
                                                    <td class="text-center">{{register.school}}</td>
                                                    <td class="text-center">{{register.score}}</td>
                                                    <td class="text-center">{{register.solutionCount}}</td>
                                                    <td class="text-center">{{register.submitCount}}</td>
                                                    <td class="text-center">

                                                         <span v-if="register.acCount != 0">
                                                            {{register.acCount*1.0 / register.submitCount*100 | formatNum}}%
                                                        </span>
                                                        <span v-if="register.acCount == 0">
                                                           0.00%
                                                        </span>

                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>

                                            <!--page-->
                                            <div class="row mt-3 mb-3">
                                                <div style="margin: 0 auto">
                                                    <ul class="page" maxshowpageitem="5" pagelistcount="10"
                                                        id="page2"></ul>
                                                </div>
                                            </div>
                                            <!--#page-->
                                        </div>
                                        <!--#tab3-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--right-->
                        <div class="col-4">
                            <div class="card ">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="fa fa-clock-o text-primary fa-lg"></i>
                                            <span class="ml-1">剩余时间</span>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div th:if="${closeSecond > 0 }" class="time-item text-center"
                                                 style="border-radius: 10px;background-color: #eee">
                                                <span id="day_show">0</span>天
                                                <strong id="hour_show">0</strong>时
                                                <strong id="minute_show">00</strong>分
                                                <strong id="second_show">00</strong>秒
                                            </div>
                                            <div th:if="${closeSecond <= 0 }"
                                                 style="border-radius: 10px;background-color: #eee"
                                                 class="item-closed text-center ">已经结束!</div>
                                        </div>
                                    </div>
                                    <hr class="mt-3"/>
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="fa fa-trophy text-warning fa-lg"></i>
                                            <span class="ml-1">比赛说明</span>
                                        </div>
                                        <div class="col-12 mt-3">[[${competition.title}]]</div>
                                    </div>
                                    <hr class="mt-3"/>
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="fa fa-warning text-danger fa-lg"></i>
                                            <span class="ml-1">比赛模式</span>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <a class="btn btn-sm btn-primary text-white">OI模式</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--#right-->
                        </div>


                    </div>
                    </div>
                </div>
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->

        <!-- /#content -->
        <!-- Modal -->
        <div th:replace="~{fragments/modal}"></div>


        <!--#Modal-->

        <!--wrapper-->
        <!-- /#content -->
    </div>
    <!-- # right side -->
</div>
<!-- /#wrap -->
<!-- global scripts-->
<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/pages/timer.js}"></script>
<!--end of global scripts-->

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    var closeSecond = [[${closeSecond}]];
    var compId = [[${competition.id}]];

    timer(closeSecond);

    // vue
    var competitionApp = new Vue({
        el: '#competitionApp',
        data: {
            problemResultTotal:0,
            registerTotal: 0,
            problemResultList:[],
            competitionProblemList:[],
            registerList:[]
        },
        filters: {
            formatDate: function (val) {
                var value = new Date(val);
                var year = value.getFullYear();
                var month = padDate(value.getMonth() + 1);
                var day = padDate(value.getDate());
                var hour = padDate(value.getHours());
                var minutes = padDate(value.getMinutes());
                var seconds = padDate(value.getSeconds());
                return year + '-' + month + '-' + day + ' ' + hour + ':' + minutes + ':' + seconds;
            },formatNum: function (val) {
                //四舍五入
                return parseFloat(val).toFixed(2);
            }
        },
        methods: {
            listCompetitionProblem: function () {
                var url = 'competitionProblem/listVOByCompId';
                this.$http.post(url,{"compId":compId},{emulateJSON:true}).then(function (res) {
                    this.competitionProblemList = res.data.data;
                }), function (res) {
                    console.log(res.data.msg);
                }
            },
            listRegister: function (pageNum) {
                var url = 'register/listRegisterByCompId2Page';
                this.$http.post(url,{"compId":compId,"pageNum":pageNum},{emulateJSON:true}).then(function (res) {
                    this.registerTotal = res.data.data.total;
                    this.registerList = res.data.data.list;
                    $("#page2").initPage(this.registerTotal, pageNum, clickPageRegister);
                }), function (res) {
                    console.log(res.data.msg);
                }
            },listPageProblemResult: function (pageNum) {
                var url = 'problemResult/listProblemResultCompetitionVO2Page';
                this.$http.post(url,{"compId":compId,"pageNum":pageNum},{emulateJSON:true}).then(function (res) {
                    this.problemResultTotal = res.data.data.total;
                    this.problemResultList = res.data.data.list;
                    $("#page1").initPage(this.problemResultTotal, pageNum, clickPageProblemResult);
                }), function (res) {
                    console.log(res.data.msg);
                }
            }
        }
    });

    //初始化
    competitionApp.listRegister(1);
    competitionApp.listPageProblemResult(1);
    competitionApp.listCompetitionProblem();
    //分页点击方法
    function clickPageRegister(pageNum) {
        competitionApp.listRegister(pageNum);
    }

    function clickPageProblemResult(pageNum) {
        competitionApp.listPageProblemResult(pageNum);
    }


    // end of vue








    /*]]>*/
</script>

</body>

</html>
