.time-item strong {

    background:#FFFFFF;

    color:#000000;

    line-height:49px;

    font-size:28px;

    font-family:Arial;

    padding:0 10px;

    margin-right:10px;

    border-radius:5px;

    box-shadow:1px 1px 3px rgba(0,0,0,0.2);

}

#day_show {

    line-height:49px;

    color:#c71c60;

    font-size:28px;

    margin:0 10px;

    font-family:Arial,Helvetica,sans-serif;

}

.item-title .unit {

    background:none;

    line-height:49px;

    font-size:24px;

    padding:0 10px;

    float:left;
}

.item-closed {
    font-size:28px;
}